@import url('https://fonts.googleapis.com/css?family=Open+Sans:wght@300&display=swap');

body {
    font-family: 'Open Sans', serif;
    background: linear-gradient(200deg, #5c7db2 0%, #ffffff 100%);
    color:rgb(8, 17, 69);
}

/* Navigation */
.navbar {
    background-color:#5c7db2;
}

.nav-link {
    color: bisque;
}

.navbar .nav-link.active {
    color:rgb(8, 17, 69);
}

.nav-item {
    border-left: solid;
    border-left-width: 1px;
    border-left-color: bisque;
}

.nav-item a:hover {
    color:rgb(8, 17, 69);
}

.navbar-brand,
.navbar-brand:hover {
    color:rgb(8, 17, 69);
}

.navbar-collapse {
    justify-content: center;
}

.dropdown-menu {
    background-color: #5c7db2;
}

.dropdown-item {
    color: bisque;
}

.dropdown-item:hover {
    background-color: #4a72b2;
    color: rgb(8, 17, 69);
}

/* Breadcrumbs */
.breadcrumbs-nav {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    font-size: 1.5em;
}

.breadcrumb-item.active {
    color: rgb(8, 17, 69);
}

/* Footer */
.footer-text {
    background-color: #5c7db2;
    justify-content: center;
    align-items: center;
}

.footer-text p {
    color: rgb(8, 17, 69);
    margin: 0;
    padding: 1em;
    
}

.footer-text a {
    color: bisque;
    text-decoration: none;
}

/* Content */
.flash ul {
    list-style-type: none;
    background-color: #5c7db2;
    color: bisque;
}

.h-form-name {
    color: bisque;
    background-color: #5c7db2;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

form .btn-primary {
    color: bisque;
    background-color: #5c7db2;
    border-color: rgb(8, 17, 69);
}

form .btn-primary:hover {
    background-color: #4c73b2;
}

.link {
    text-decoration:underline;
    color: rgb(8, 17, 69);
}

.tip {
    /* border-style: solid;
    border-width: 1px; */
    font-style: italic;
    font-size: smaller;
}


/* Prices */
/* Docs */

/* #collapseOne {
    background-color: #4c73b2;
} */
#table-accordion td{
    background-color: #b2ccf1;
}

#table-accordion th {
    background-color: #7caaea;
}

#table-accordion .tr-common td,
#table-accordion .total-common {
    background-color: rgb(168, 201, 102);
}

#table-accordion .tr-variable td,
#table-accordion .total-variable {
    background-color: rgb(255, 205, 112);
}

#table-accordion .total-recalculation {
    background-color: rgb(168, 255, 226);
}

#table-accordion .total {
    background-color: #b11d1d;
    color: floralwhite;
    font-style: bold;
}