{% extends 'base.html' %}

{% block content %}
{{ super() }}

<form action="/prices" method="post">
    {{ form.hidden_tag() }}
    {% for f in form if f.widget.input_type != 'hidden' %}
    {% if f.label != form.submit.label %}
    <div class="mb-3">
        <div class="row g-3 align-items-center">
            <div class="col-lg-2">
                {{ f.label(class='col-form-label') }}
            </div>
            <div class="col-auto">
                {{ f(class='form-control', size=32) }}
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {{ form.submit(class='btn btn-primary') }}
</form>

{% endblock %}